@model BCWeb.Areas.Admin.Models.Companies.CompanyProfileDetailsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>@Html.RouteLink("Company Profiles", "Admin_default", new { controller = "Company", action = "Index" })</li>
            <li class="current">so and so</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <ul class="inline-list">
            <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</li>
            <li>@Html.ActionLink("Back to List", "Index")</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <div>
            @Html.LabelFor(m => m.CompanyName)
            @Html.DisplayFor(m => m.CompanyName)
        </div>
        <div>
            @Html.LabelFor(m => m.Address1)
            @Html.DisplayFor(m => m.Address1)
        </div>
        <div>
            @Html.LabelFor(m => m.Address2)
            @Html.DisplayFor(m => m.Address2)
        </div>
        <div>
            @Html.LabelFor(m => m.City)
            @Html.DisplayFor(m => m.City)
        </div>
        <div>
            @Html.LabelFor(m => m.State)
            @Html.DisplayFor(m => m.State)
        </div>
        <div>
            @Html.LabelFor(m => m.PostalCode)
            @Html.DisplayFor(m => m.PostalCode)
        </div>
        <div>
            @Html.LabelFor(m => m.Phone)
            @Html.DisplayFor(m => m.Phone)
        </div>
        <div>
            @Html.LabelFor(m => m.Website)
            @Html.DisplayFor(m => m.Website)
        </div>
        <div>
            @Html.LabelFor(m => m.OperatingDistance)
            @Html.DisplayFor(m => m.OperatingDistance)
        </div>
        <div>
            @Html.LabelFor(m => m.Published)
            @Html.DisplayFor(m => m.Published)
        </div>
        <div>
            @Html.LabelFor(m => m.Subscribed)
            @Html.DisplayFor(m => m.Subscribed)
        </div>
        <div>
            @Html.LabelFor(m => m.BusinessType)
            @Html.DisplayFor(m => m.BusinessType)
        </div>
        <div>
            @Html.LabelFor(m => m.Users)
            @foreach (var u in Model.Users)
            {
                @Html.RouteLink(u.Value, "Admin_default", new { controller = "User", action = "Details", id = u.Key })<br />
            }
        </div>
    </div>
</div>
