@model BCWeb.Areas.Admin.Models.Companies.CompanyProfileEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>@Html.RouteLink("Company Profiles", "Admin_default", new { controller = "Company", action = "Index" })</li>
            <li class="current">@Html.RouteLink("Edit " + @Model.CompanyName, "Admin_default", new { controller = "Company", action = "Edit", id = @Model.Id })</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)



                @Html.EditorForModel()

                <p>
                    <input type="submit" value="Save" />
                </p>

        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}