@model BCWeb.Models.Project.ViewModel.EditProjectViewModel
@using BCWeb.Helpers

@{
    ViewBag.Title = "Edit Project";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
    <div class="large-4 columns large-centered">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row" >
    <div class="large-12 columns large-centered" ng-controller="EditProjectCtrl">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            @Html.EditorFor(m => m)
            <input type="submit" value="Save" class="medium button" />
            <input type="button" value="Cancel" class="medium button" />
        }
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/editproject")
}
