@model BCWeb.Models.Project.ViewModel.ProjectDetailsForSubAndVendViewModel
@{
    ViewBag.Title = "Project Details";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}
<div ng-controller="ProjectDetailsCtrl">
    <div class="row">
        <div class="large-2 columns">
            <ul class="side-nav">
                @*<li>@Html.RouteLink("Create Bid Package", "Project_default", new { controller = "BidPackage", action = "Create", projectId = Model.ProjectId })</li>
            <li><a href="#">View Bid Packages</a></li>
            <li><a href="#">Invite Sub Contractors or Material Vendors</a></li>*@
                <li>@Html.RouteLink("Compose Bid", "Project_default", new { controller = "Bid", action = "ComposeSV", projectId = Model.ProjectId })</li>
            </ul>
        </div>
        <div class="large-8 columns left">
            <div class="row">
                <div class="large-4 columns">
                    <h2>@ViewBag.Title</h2>@Html.HiddenFor(m => m.ProjectId)
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    @Html.LabelFor(m => m.Title)
                    @Html.DisplayFor(m => m.Title)
                </div>
                <div class="large-4 columns">
                    @Html.LabelFor(m => m.Number)
                    @Html.DisplayFor(m => m.Number)
                </div>
                <div class="large-3 columns">
                    @Html.LabelFor(m => m.Architect)
                    @Html.DisplayFor(m => m.Architect)
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.Description)
                    @Html.DisplayFor(m => m.Description)
                </div>
            </div>
            <div class="row">

                <div class="large-4 columns left">
                    @Html.LabelFor(m => m.ProjectType)
                    @Html.DisplayFor(m => m.ProjectType)
                </div>
                <div class="large-4 columns left">
                    @Html.LabelFor(m => m.ConstructionType)
                    @Html.DisplayFor(m => m.ConstructionType)
                </div>
                <div class="large-4 columns left">
                    @Html.LabelFor(m => m.BuildingType)
                    @Html.DisplayFor(m => m.BuildingType)
                </div>
            </div>
            <div class="row">
                <div class="large-7 columns">
                    <div class="row">
                        <div class="large-12 columns">
                            @Html.LabelFor(m => m.Address)
                            @Html.DisplayFor(m => m.Address)
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-5 columns">
                            @Html.LabelFor(m => m.City)
                            @Html.DisplayFor(m => m.City)
                        </div>
                        <div class="large-3 columns">
                            @Html.LabelFor(m => m.State)
                            @Html.DisplayFor(m => m.State)
                        </div>
                        <div class="large-4 columns">
                            @Html.LabelFor(m => m.PostalCode)
                            @Html.DisplayFor(m => m.PostalCode)

                        </div>
                    </div>
                </div>
            </div>

            @* break out by GC invite *@

            <div class="row">
                <div class="large-12 columns">
                    <table id="bidPackageWrapper">
                        <caption>Bid Packages</caption>
                        <thead>
                            <tr>
                                <th></th>
                                <th ng-repeat="bp in myData.BidPackages">{{bp.InvitingCompanyName}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Bid Date</th>
                                <td ng-repeat="bp in myData.BidPackages">{{bp.BidDateTime | ReadableTimeStamp}}</td>
                            </tr>
                            <tr>
                                <th>Documents
                                </th>
                                <td ng-repeat="bp in myData.BidPackages">
                                    <ul>
                                        <li ng-repeat="dd in bp.ProjectDocs"><a href="/Project/Document/Details/{{dd.Id}}">{{dd.Name}}</a></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th>Response</th>
                                <td ng-repeat="bp in myData.BidPackages">
                                    <span ng-show="bp.InviteResponse==true">Accepted</span><span ng-show="bp.InviteResponse==false">Declined</span>
                                    <input type="button" class="small success button" value="Accept" ng-click="accept(bp.BidPackageId)" ng-hide="bp.InviteResponse == true" />
                                    <input type="button" class="small alert button" value="Decline" ng-click="decline(bp.BidPackageId)" ng-hide="bp.InviteResponse == false" />
                                </td>
                            </tr>
                            <tr ng-repeat="s in myData.Scopes">
                                <th style="text-align: left !important;" title="{{s.Value}}">{{s.Value | truncate: 22}}</th>
                                <td ng-repeat="b in myData.BidPackages">{{s.Key | IsScopeIncluded: b.SelectedScopes }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.AntiForgeryToken()
@section scripts{
    @Scripts.Render("~/bundles/projectsubvenddetail")
}