@model BCWeb.Models.Project.ViewModel.EditProjectViewModel
@using BCWeb.Helpers
@{
    ViewBag.Title = "Create Project";
}

<div class="row">
    <div class="large-4 columns large-centered">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row" ng-app="createProject">
    <div class="large-12 columns large-centered" ng-controller="CreateProjectCtrl">

        @using (Html.BeginForm())
        {
            @Html.EditorFor(m => m)
            <input type="submit" value="Create" class="medium button" />
        }
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/createproject")
    @*@Scripts.Render("~/Scripts/angular/angular.js")
    @Scripts.Render("~/Scripts/angular/bcweb.filters.angular.js")*@
    @Scripts.Render("~/Scripts/angular/controllers/CreateProjectCtrl.js")
}