@model BCWeb.Models.Project.ViewModel.ProjectDetailsViewModel
@{
    ViewBag.Title = "Project Details";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
    <div class="large-4 columns">
        <h2>@ViewBag.Title @Html.RouteLink("Edit...", new { routename = "Default", controller = "Projects", action = "Edit", id = Model.Id })</h2>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        @Html.LabelFor(m => m.Title)
        @Html.DisplayFor(m => m.Title)
    </div>
</div>


<div class="row">
    <div class="large-12 columns">
        @Html.LabelFor(m => m.Description)
        @Html.DisplayFor(m => m.Description)
    </div>
</div>

<div class="row">
    <div class="large-4 columns">
        @Html.LabelFor(m => m.BidDateTime)
        @Html.DisplayFor(m => m.BidDateTime)
    </div>

</div>

<div class="row">

    <div class="large-4 columns left">
        @Html.LabelFor(m => m.ProjectType)
        @Html.DisplayFor(m => m.ProjectType)
    </div>
    <div class="large-4 columns left">
        @Html.LabelFor(m => m.ConstructionType)
        @Html.DisplayFor(m => m.ConstructionType)
    </div>
    <div class="large-4 columns left">
        @Html.LabelFor(m => m.BuildingType)
        @Html.DisplayFor(m => m.BuildingType)
    </div>
</div>
<div class="row">
    <div class="large-7 columns">
        <div class="row">
            <div class="large-12 columns">
                @Html.LabelFor(m => m.Address)
                @Html.DisplayFor(m => m.Address)
            </div>
        </div>

        <div class="row">
            <div class="large-5 columns">
                @Html.LabelFor(m => m.City)
                @Html.DisplayFor(m => m.City)
            </div>
            <div class="large-3 columns">
                @Html.LabelFor(m => m.State)
                @Html.DisplayFor(m => m.State)
            </div>
            <div class="large-4 columns">
                @Html.LabelFor(m => m.PostalCode)
                @Html.DisplayFor(m => m.PostalCode)

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        @Html.LabelFor(m => m.SelectedScope)
        <ul>
            @foreach (var x in Model.SelectedScope)
            {
                <li>@x</li>
            }
        </ul>
    </div>
</div>
