@model BCWeb.Areas.Project.Models.Bids.ViewModel.ReceivedBidViewModel
@{
    ViewBag.Title = "Received";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}
<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li>@Html.RouteLink("Home", "Default", new { controller = "Home", action = "Index" })</li>
            <li>@Html.RouteLink("Projects", "Default", new { controller = "Project", action = "Index" })</li>
            <li>@Html.RouteLink(Model.ProjectTitle, "Default", new { controller = "Project", action = "Details", id = Model.ProjectId })</li>
            <li class="current"><a href="#">Received Bids</a></li>
        </ul>
    </div>
</div>

<div ng-controller="ReceivedBidsCtrl">
    @Html.HiddenFor(m => m.ProjectId)
    <div class="row">
        <div class="large-12 columns">
            <select class="large-4 columns" ng-model="selectedBP" ng-options="x.Value as x.Text for x in bidPackages" ng-change="GetBids()" id="bpDropDown">
                <option value="">--select bid package--</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="row">
                <div class="large-3 columns">
                    <table style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Spec</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="csi in bpScopes">
                                <td style="overflow-x: hidden; white-space: nowrap;">{{csi.Value | truncate:40}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="large-8 columns" style="overflow-x: scroll;">
                    <table>
                        <thead>
                            <tr>
                                <th ng-repeat="bid in companyBP.CompanyBids">{{bid.CompanyName}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="csi in bpScopes">
                                <td ng-repeat="bid in companyBP.CompanyBids">{{bid.ScopeBids | CsiAmount : csi.Id}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/bundles/receivedbids")
}
