@model BCWeb.Areas.Project.Models.Bids.ViewModel.GCBidViewModel

@{
    ViewBag.Title = "ReviewGC";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li>@Html.RouteLink("Home", "Default", new { controller = "Home", action = "Index" })</li>
            <li>@Html.RouteLink("Projects", "Default", new { controller = "Project", action = "Index" })</li>
            <li>@Html.RouteLink(Model.ProjectTitle, "Default", new { controller = "Project", action = "Details", id = Model.ProjectId })</li>
            <li class="current"><a href="#">Review My Bid</a></li>
        </ul>
    </div>
</div>
@using (Html.BeginForm())
{
    <div class="row">
        <div class="large-8 columns">
            @Html.DisplayFor(m => m.ProjectTitle)
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns">

            @Html.Partial("_GCBidPackageDisplay", Model.BaseBids)
        </div>
    </div>
}
