<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>BidChuck - @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/cvlcss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/cvl")
    <script type="text/javascript">
    	var cl;
	jQuery(document).ready(function () {
		cl = jQuery.fn.jColumnListView({
			id:               'cl1',
			width:            900,
			columnWidth:      300,
			columnHeight:     300,
			columnMargin:     8,
			paramName:        'columnview',
			columnNum:        3,
			appendToId:       't1',
			elementId:        'scopes',
			removeAfter:      false,
			columnMinWidth:   120,
			columnMaxWidth:   300,
			childIndicator:   true,
			leafMode: true,
			onItemChecked: function (ci) { console.log(ci); },
			onItemUnchecked: function (ci) { console.log(ci); }
		});
	});
        </script>
</head>
<body>
    <header>
        <div class="content-wrapper">
@*            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Logo", "Index", "Home")</p>
            </div>*@
            <div class="float-right">
                <section id="SignIn">
                    @Html.Partial("_SignInPartial")
                </section>
                <nav>
                    <ul id="menu">
        <li>@Html.ActionLink("Sign In", "SignIn", "Account")</li>
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - BidChuck</p>
            </div>
        </div>
    </footer>

    
    @RenderSection("scripts", required: false)
</body>
</html>