@model BCWeb.Areas.Admin.Models.Users.UserProfileDetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>@Html.RouteLink("User Profiles", "Admin_default", new { controller = "User", action = "Index" })</li>
            <li class="current">so and so</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <ul class="inline-list">
            <li>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</li>
            <li>@Html.ActionLink("Back to List", "Index")</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <div>
            @Html.LabelFor(m => m.Id)
            @Html.DisplayFor(m => m.Id)
        </div>
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.DisplayFor(m => m.Email);
        </div>
        <div>
            @Html.LabelFor(m => m.FirstName)
            @Html.DisplayFor(m => m.FirstName)
        </div>
        <div>
            @Html.LabelFor(m => m.LastName)
            @Html.DisplayFor(m => m.LastName)
        </div>
        <div>
            @Html.LabelFor(m => m.JobTitle)
            @Html.DisplayFor(m => m.JobTitle)
        </div>
        <div>
            @Html.LabelFor(m => m.IsManager)
            @Html.DisplayFor(m => m.IsManager)
        </div>
        <div>
            @Html.LabelFor(m => m.CompanyName)
            @Html.RouteLink(Model.CompanyName, "Admin_default", new { controller = "Company", action = "Details", id = Model.CompanyId })
        </div>
        <div>
            @Html.LabelFor(m => m.IsConfirmed)
            @Html.DisplayFor(m => m.IsConfirmed)
        </div>
        <div>@Html.LabelFor(m => m.Roles)
            @foreach (var r in Model.Roles)
            {
                @r<br />
            }
        </div>
    </div>
</div>
