@model BCWeb.Areas.Admin.Models.Users.UserProfileEditModel

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="large-6 columns">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>UserProfileEditModel</legend>

                @Html.EditorForModel()

                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
