@model BCWeb.Areas.Admin.Models.Projects.ViewModel.ProjectEditModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div ng-controller="ProjectCtrl">
    <div class="row">
        <div class="large-12 columns">

            @using (Html.BeginForm())
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.EditorForModel()

                <div class="row">
                    <div class="large-12 columns">
                        <p>
                            <input type="submit" value="Save" />
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/bundles/editproject")
}
