@{
    ViewBag.Title = "Manage Scopes";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<h2>Manage Scopes</h2>


<div class="row" ng-app="scopePicker">
    <div class="large-12 columns" ng-controller="ScopesCtrl">
        @Html.AntiForgeryToken()
       @Html.Partial("_ScopePicker")

    </div>

</div>


@section scripts{
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/Scripts/Areas/Account/ScopesList.js")
}
@section head{
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
}