@{
    ViewBag.Title = "Manage Scopes";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<h2>Manage Scopes</h2>
<div class="row" ng-app="scopePicker">
    <div class="large-10 columns" ng-controller="ScopesCtrl">
        <fieldset>
            <legend>Scopes</legend>
            <div class="row">
                <div class="large-4 columns" style="height: 300px; overflow-x: hidden; overflow-y: scroll;">
                    <ul id="t1" style="list-style-type: none !important;">
                        <li ng-repeat="x in Scopes | filter: {ParentId :'!'} | orderBy:'Number'"
                            item-value="{{x.Id}}" title="{{x.Description}}">
                            <input type="checkbox" value="{{x.Id}}" />
                            {{x.Description | truncate: 20}}
                            <span style="display: inline-block !important;" class="ui-icon ui-icon-circle-arrow-e" ng-click="t1Expand(x.Id)"></span>
                        </li>
                    </ul>
                </div>
                <div class="large-4 columns" style="height: 300px; overflow-x: hidden; overflow-y: scroll;">
                    <ul id="t2" style="list-style-type: none !important;">
                        <li ng-repeat="y in Scopes | parentIdEqual: t1Parent | orderBy:'Number'"
                            item-value="{{y.Id}}" title="{{y.Description}}">
                            <input type="checkbox" value="{{y.Id}}" />
                            {{y.Description | truncate: 20}}
                            <span style="display: inline-block !important;" class="ui-icon ui-icon-circle-arrow-e" ng-click="t2Expand(y.Id)"></span>
                        </li>
                    </ul>
                </div>

                <div class="large-4 columns">
                    <ul id="t3" style="list-style-type: none !important;">
                        <li ng-repeat="z in Scopes | parentIdEqual: t2Parent | orderBy:'Number'"
                            item-value="{{z.Id}}" title="{{z.Description}}">
                            <input type="checkbox" value="{{z.Id}}" />
                            {{z.Description | truncate: 20}}
                        </li>
                    </ul>
                </div>
            </div>
        </fieldset>
    </div>
</div>


@section scripts{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/cvl.js")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/Areas/Account/ScopesList.js")
}
@section head{
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
}