@model BCWeb.Areas.Project.Models.Invitations.ViewModel.BidPackageInvitationViewModel
@{
    ViewBag.Title = "Send Invitation";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>@Html.RouteLink("Projects", "Default", new { controller = "Project", action = "Index" })</li>
            <li>@Html.RouteLink(Model.ProjectName, "Default", new { controller = "Project", action = "Details", id = Model.ProjectId })</li>
            <li>@Html.RouteLink("Bid Packages", "Project_default", new { controller = "BidPackage", action = "Index", projectId = Model.ProjectId })</li>
            <li>@Html.RouteLink(@Model.BidPackageTitle, "Project_default", new { controller = "BidPackage", action = "Index", id = Model.BidPackageId })</li>
            <li class="current"><a href="#">Send Invitations</a></li>
        </ul>
    </div>
</div>
<div ng-controller="SendInvitationCtrl">
    <div class="row">
        <div class="large-4 columns left">
            <input type="text" name="companySearchString" id="companySearchString" ng-model="companySearchString" ng-change="searchCompanies()" placeholder="Search for company" />
        </div>
    </div>
    <div class="row">

        <div class="large-8 columns">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.BidPackageId)
                
                <ul>
                    <li ng-repeat="sc in companies">
                        <input type="checkbox" id="{{getFieldId($index)}}" name="{{getFieldName($index)}}" value="{{sc.CompanyId}}" />
                        {{sc.CompanyName}}
                    -- {{sc.BusinessType}}
                        <ul>
                            <li ng-repeat="csi in sc.ScopesOfWork">{{csi}}
                            </li>
                        </ul>
                    </li>
                </ul>
                <input type="submit" class="medium button" value="Send" />
            }
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/sendinvitation")
}
