@model BCWeb.Areas.Project.Models.Invitations.ViewModel.BidPackageInvitationViewModel
@{
    ViewBag.Title = "Send Invitation";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
            <li><a href="/">Home</a></li>
            <li>@Html.RouteLink("Projects", "Default", new { controller = "Project", action = "Index" })</li>
            <li>@Html.RouteLink(Model.ProjectName, "Default", new { controller = "Project", action = "Details", id = Model.ProjectId })</li>
            <li>@Html.RouteLink("Bid Packages", "Project_default", new { controller = "BidPackage", action = "Index", projectId = Model.ProjectId })</li>
            <li>@Html.RouteLink(@Model.BidPackageTitle, "Project_default", new { controller = "BidPackage", action = "Index", id = Model.BidPackageId })</li>
            <li class="current"><a href="#">Send Invitations</a></li>
        </ul>
    </div>
</div>
<div ng-controller="SendInvitationCtrl">
    <div class="row">
        <div class="large-4 columns left">
            @*<input type="text" name="companySearchString" id="companySearchString" ng-model="companySearchString" ng-change="searchCompanies()" placeholder="Search for company" />*@
            <h4>Best fit companies</h4>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            <div class="row collapse">
                <div class="large-9 columns">
                    <span class="prefix">Min. # of matched scopes</span>
                </div>
                <div class="large-3 columns">
                    <select ng-model="scopeMin" class="pretty">
                        @for (int i = 1; i < Model.BPScopeCount + 1; i++)
                        {
                            <option value="@i" >@i</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="large-8 columns">
                    <ul class="button-group">
                        <li>
                            <a href="#" class="button" ng-click="CheckAll()">Select All</a>
                        </li>
                        <li>
                            <a href="#" class="button" ng-click="UncheckAll()">Unselect All</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.BidPackageId)
                <ul class="no-bullet">
                    <li ng-repeat="sc in companies | scopeMatchFilter : scopeMin" class="panel">
                        <input type="checkbox" id="{{getFieldId($index)}}" name="{{getFieldName($index)}}" value="{{sc.CompanyId}}" />
                        {{sc.CompanyName}}
                    -- {{sc.BusinessType}}
                        <ul>
                            <li ng-repeat="csi in sc.ScopesOfWork">{{csi}}
                            </li>
                        </ul>
                    </li>
                </ul>
                <input type="submit" class="medium button" value="Send" />
            }
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/sendinvitation")
}
