@model BCWeb.Models.Company.ViewModel.CompanyProfileViewModel

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

<div class="row">
    <div class="large-12 columns">
        <h2>@Model.CompanyName <small>@Model.BusinessType</small></h2>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        @switch (Model.ConnectionStatus)
        {
            case BCWeb.Models.Company.ConnectionStatus.Connected: 
            <form>
                @Html.Partial("_Connected")
            </form>
                break;
            case BCWeb.Models.Company.ConnectionStatus.NotConnected:
            <form>
                @Html.Partial("_NotConnected")
            </form>
                break;
            case BCWeb.Models.Company.ConnectionStatus.InvitationSent:
            <form>
                @Html.Partial("_RequestSent")
            </form>
                break;
            case BCWeb.Models.Company.ConnectionStatus.InvitationPending:
            <form>
                @Html.Partial("_PendingRequest")
            </form>
                break;
            case BCWeb.Models.Company.ConnectionStatus.Self:
            @Html.RouteLink("Edit", "Account_default", new { controller = "Company", action = "Edit" })
                break;
        }
    </div>
</div>
<div class="row">
    <div class="large-6 columns">
        <ul class="vcard">
            <li class="street-address">@Model.Address1</li>
            @if (Model.Address2 != null || Model.Address2 != "")
            {
                <li class="street-address">@Model.Address2</li>
            }
            <li class="locality">@Model.City</li>
            <li><span class="state">@Model.State</span>, <span class="zip">@Model.PostalCode</span></li>
            <li>Operating Distance: @Model.OperatingDistance</li>
        </ul>
    </div>
</div>
@if (Model.BusinessType == "Materials Vendor" || Model.BusinessType == "Sub-Contractor")
{
    <div class="row">
        <div class="large-6 columns">
            <h4>Scopes of Work</h4>
            <ul>
                @foreach (var csi in Model.WorkScopes)
                {
                    <li>@csi</li>
                }
            </ul>
        </div>
    </div>
}