@model BCWeb.Areas.Project.Models.BidPackage.ViewModel.EditBidPackageViewModel
<div class="row">
    <div class="large-4 columns left">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ProjectId)
        @Html.HiddenFor(m => m.TemplateId)
        @Html.AntiForgeryToken()
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
        @Html.LabelFor(m => m.Notes)
        @Html.TextAreaFor(m => m.Notes)
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <fieldset class="large-3 columns left">
            <legend>Bid Deadline</legend>
            @Html.HiddenFor(m => m.BidDateTime)
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        <input type="checkbox" ng-model="UseProjectBidDate" ng-checked="UseProjectBidDate" ng-change="useProjectBidDateChange()" />@Html.HiddenFor(m => m.UseProjectBidDate)
                        Use Project Bid Date Settings?</label>

                </div>
            </div>
            <div class="row collapse">
                <div class="large-8 small-8 columns ">
                    <input type="text" id="BidDateTB" name="BidDateTB" ng-disabled="UseProjectBidDate" />
                </div>
                <div class="large-4 small-4 columns">
                    <span class="postfix">Date</span>
                </div>
            </div>
            <div class="row collapse">
                <div class="large-8 small-8 columns">
                    <input type="text" id="BidTimeTB" name="BidTimeTB" ng-disabled="UseProjectBidDate" />
                </div>
                <div class="large-4 small-4 columns">
                    <span class="postfix">Time</span>
                </div>
            </div>
        </fieldset>
        <fieldset class="large-4 columns left">
            <legend>Walk Though</legend>
            @Html.HiddenFor(m => m.WalkThruDateTime)
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        <input type="checkbox" ng-model="UseProjectWalkThru" ng-checked="UseProjectWalkThru" ng-change="useProjectWalkThruChange()" />
                        @Html.HiddenFor(m => m.UseProjectWalkThru) Use Project Walk Thru Settings?</label>

                </div>
            </div>
            <div class="row">
                <div class="large-3 columns">
                    <label>
                        @Html.RadioButtonFor(m => m.WalkThruStatus, BCModel.Projects.WalkThruStatus.NoWalkThru, new { ng_model = "walkThru", ng_disabled = "UseProjectWalkThru" })
                        None</label>
                    <label>
                        @Html.RadioButtonFor(m => m.WalkThruStatus, BCModel.Projects.WalkThruStatus.WalkThruTBD, new { ng_model = "walkThru", ng_disabled = "UseProjectWalkThru" })
                        TBD</label>
                    <label>
                        @Html.RadioButtonFor(m => m.WalkThruStatus, BCModel.Projects.WalkThruStatus.WalkThruIncluded, new { ng_model = "walkThru", ng_disabled = "UseProjectWalkThru", ng_change="walkThruStatusChange()" })
                        Yes</label>
                </div>

                <div class="large-9 columns">
                    <div class="row collapse">
                        <div class="large-8 small-8 columns">
                            <input type="text" id="WalkThruDateTB" name="WalkThruDateTB" ng-model="WalkThruDateTB" ng-disabled="!(walkThru=='WalkThruIncluded')" />
                        </div>
                        <div class="large-4 small-4 columns"><span class="postfix">Date</span></div>
                    </div>
                    <div class="row collapse">
                        <div class="large-8 small-8 columns">
                            <input type="text" id="WalkThruTimeTB" name="WalkThruTimeTB" ng-model="WalkThruTimeTB" ng-disabled="!(walkThru=='WalkThruIncluded')" />
                        </div>
                        <div class="large-4 small-4 columns">
                            <span class="postfix">Time</span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row">
    <div class="large-12 columns left">
        @if (Model.SelectedScope != null)
        {
            <div style="display: none;" id="passBackScopes">
                @for (int s = 0; s < Model.SelectedScope.Count(); s++)
                {
                    @Html.HiddenFor(m => m.SelectedScope[s])
                }
            </div>
        }
        <csi-scope-picker service-url="theServiceUrl" selected-scopes="passBackSelection"></csi-scope-picker>
    </div>
</div>
