@{
    ViewBag.Title = "ChangePassword";
}

<div class="row">
    <div class="large-4 large-centered columns">
        @model BCWeb.Models.LocalPasswordModel

        <h3>Change password</h3>


        @using (Html.BeginForm("Manage", "Account"))
        {

            <div class="row">
                <div class="large-12 columns">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.OldPassword)
                    @Html.PasswordFor(m => m.OldPassword)
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <input type="submit" value="Change Password" class="medium button" />
                </div>
            </div>
        }

    </div>
</div>
