@model BCWeb.Models.Account.ViewModel.EditCompanyViewModel
@{
    ViewBag.Title = "Edit Info";
}

<div class="row">
    <div class="large-4 column large-centered">
        <h3>Edit Company Information</h3>
    </div>

</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="large-8 columns large-centered">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.Id)
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns large-centered panel">
            <fieldset>
                <legend>Company Info</legend>
                <div class="row">
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        @Html.LabelFor(m => m.CompanyName)
                        @Html.TextBoxFor(m => m.CompanyName)
                    </div>

                </div>
                <div class="row">
                    <div class="large-6 columns">
                        @Html.LabelFor(m => m.Address1)
                        @Html.TextBoxFor(m => m.Address1)
                    </div>
                    <div class="large-6 columns">
                        @Html.LabelFor(m => m.Address2)
                        @Html.TextBoxFor(m => m.Address2)
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row">
                    <div class="large-6 columns">
                        @Html.LabelFor(m => m.City)
                        @Html.TextBoxFor(m => m.City)
                    </div>
                    <div class="large-2 columns left">
                        @Html.LabelFor(m => m.StateId)
                        @Html.DropDownListFor(m => m.StateId, Model.States, "...", new { @class = "pretty" })
                    </div>
                    <div class="large-3 columns left">
                        @Html.LabelFor(m => m.PostalCode)
                        @Html.TextBoxFor(m => m.PostalCode)
                    </div>

                </div>
                <div class="row">

                    <div class="large-4 columns left">
                        @Html.LabelFor(m => m.Phone)
                        @Html.TextBoxFor(m => m.Phone)
                    </div>
                    <div class="large-4 columns">
                        @Html.LabelFor(m => m.BusinessTypeId)
                        @Html.DropDownListFor(m => m.BusinessTypeId, Model.BusinessTypes, "select...", new { @class = "pretty" })
                    </div>
                    <div class="large-4 columns">
                        @Html.LabelFor(m => m.OperatingDistance)
                        <select class="pretty" name="OperatingDistance">
                            <option>select...</option>
                            <option value="25" @if (Model.OperatingDistance == 25) { @Html.Raw("selected"); }>25 Miles</option>
                            <option value="50" @if (Model.OperatingDistance == 50) { @Html.Raw("selected"); }>50 Miles</option>
                            <option value="100" @if (Model.OperatingDistance == 100) { @Html.Raw("selected"); }>100 Miles</option>
                            <option value="150" @if (Model.OperatingDistance == 150) { @Html.Raw("selected"); }>150 Miles</option>
                            <option value="200" @if (Model.OperatingDistance == 200) { @Html.Raw("selected"); }>200 Miles</option>
                            <option value="300" @if (Model.OperatingDistance == 300) { @Html.Raw("selected"); }>300 Miles</option>
                            <option value="400" @if (Model.OperatingDistance == 400) { @Html.Raw("selected"); }>400 Miles</option>
                            <option value="500" @if (Model.OperatingDistance == 500) { @Html.Raw("selected"); }>500 Miles</option>
                            <option value="0" @if (Model.OperatingDistance == 0) { @Html.Raw("selected"); }>USA</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="row">
                <div class="large-3 columns left">
                    <input type="submit" value="Save Changes" class="medium button" />
                </div>
            </div>
        </div>
    </div>
    
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}