@model BCWeb.Models.ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password";
}
<div class="row">
    <div class="large-6 columns large-centered" style="text-align:center;">
        <hgroup class="title">
            <h1>@ViewBag.Title</h1>
        </hgroup>
    </div>
</div>
<div class="row">
    <div class="large-6 columns large-centered">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            
                <p>Please enter your email address.</p>
             
                        
                        @Html.TextBoxFor(m => m.Email)

                <input type="submit" value="Reset Password" class="medium button" />
            
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}