@model BCWeb.Models.Account.ViewModel.ManageDashboardViewModel



<div clas="row">
    <div class="large-4 columns large-centered" id="alerts">
        @if (@ViewBag.StatusMessage != "")
        {
            <div class="alert-box success">@ViewBag.StatusMessage<a href="#" class="close">&times;</a></div>
        }
    </div>
</div>
<div class="row">
    <div class="large-3 columns left">
        <ul class="side-nav">
            <li class="divider"></li>
            @if (Roles.IsUserInRole("Manager") || Roles.IsUserInRole("Administrator"))
            {
                <li>@Html.RouteLink("Update Company Information", "Account_default", new { controller = "Company", action = "Edit" })</li>
            }
            <li>@Html.RouteLink("Update Personal Information", "Default", new { controller = "Account", action = "EditProfile" })</li>
            @*only show scopes for a sub or vendor who is the company manager*@
            @if ((Roles.IsUserInRole("subcontractor") || Roles.IsUserInRole("materials_vendor")) && Roles.IsUserInRole("Manager"))
            {
                <li>@Html.RouteLink("Manage Company Scopes", "Account_default", new { controller = "Scopes", action = "Manage", type = "company", ident = "" })</li>
                <li>@Html.RouteLink("Manage My Scopes", "Account_default", new { controller = "Scopes", action = "Manage", type = "self", ident = "" })</li>
            }
            <li>@Html.RouteLink("Change Email Address", "Default", new { controller = "Account", action = "ChangeEmail" })</li>
            <li>@Html.RouteLink("Change Password", "Default", new { controller = "Account", action = "ChangePassword" })</li>
            <li class="divider"></li>
        </ul>
    </div>
    <div class="large-8 columns left">
        <div class="row">
            <div class="large-6 columns">
                <label>Company Info</label>
                <ul class="vcard large-12">
                    <li class="fn">@Html.DisplayFor(m => m.CompanyName)</li>
                    <li class="street-address">@Html.DisplayFor(m => m.Address1)</li>
                    <li class="street-address">@Html.DisplayFor(m => m.Address2)</li>
                    <li class="locality">@Html.DisplayFor(m => m.City)</li>
                    <li><span class="state">@Html.DisplayFor(m => m.State)</span>, <span class="zip">@Html.DisplayFor(m => m.PostalCode)</span></li>
                </ul>
            </div>
            <div class="large-6 columns">
                <label>Personal Info</label>
                <ul class="vcard large-12">
                    <li class="fn">@Html.DisplayFor(m => m.Name)</li>
                    <li>@Html.DisplayFor(m => m.Email)</li>
                </ul>
            </div>
        </div>
        @if (Roles.IsUserInRole("Manager") || Roles.IsUserInRole("Administrator"))
        {
            
            
            
            <label>Delegated Users @Html.RouteLink("Add...", "Account_default", new { controller = "Users", action = "Add" })</label>
            <table style="border-collapse: collapse;">
                <thead>
                    <tr>
                        <th width="200">Name</th>
                        <th width="200">Email</th>
                        <th width="100">Status</th>
                        <th width="150"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model.Minions)
                    {
                        <tr>
                            <td class="name">@d.Name</td>
                            <td class="email">@d.Email</td>
                            <td class="status">@d.Confirmed</td>
                            <td class="action">
                                @if (d.Confirmed == "Active")
                                {
                                    @Html.RouteLink("Manage Scopes", "Account_default", new { controller = "Scopes", action = "Manage", type = "user", ident = d.Email })
                                }
                                else
                                {
                                    <a href="#" class="resendInviteLink">Resend Invite</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        }
        @if (Roles.IsUserInRole("subcontractor") || Roles.IsUserInRole("materials_vendor"))
        {
            <fieldset>
                <legend>CSI Scopes</legend>
                <ul class="no-bullet">
                    @foreach (var x in Model.Scopes)
                    {
                        <li>
                            @x
                        </li>
                    }
                </ul>
            </fieldset>}
    </div>
</div>
@Html.AntiForgeryToken()
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Areas/Account/ManageView.js")
}