@model BCWeb.Models.RegisterModel
@{
    ViewBag.Title = "Create a new account.";
}

<div ng-app="regApp">
    <div ng-controller="RegCtrl">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="large-8 columns large-centered">
                    <div class="row">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                    </div>

                    <fieldset>
                        <legend>Registration Form</legend>
                        <div class="row">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email)
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.FirstName)
                            @Html.TextBoxFor(m => m.FirstName)
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.LastName)
                            @Html.TextBoxFor(m => m.LastName)
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.CompanyName)
                            @Html.TextBoxFor(m => m.CompanyName)
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.StateId)
                            <select id="StateId" name="StateId" ng-options="s.Id as s.Value for s in states" ng-model="selectedState" ng-change="updateCounties()">
                                <option value="">select..</option>
                            </select>
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.CountyId)
                            <select id="CountyId" name="CountyId" ng-options="c.Id as c.Value for c in counties" ng-model="selectedCounty">
                                <option value="">select..</option>
                            </select>
                        </div>
                        <div class="row">

                            @Html.LabelFor(m => m.Phone)
                            @Html.TextBoxFor(m => m.Phone)
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                        </div>
                        <div class="row">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @Html.PasswordFor(m => m.ConfirmPassword)
                        </div>
                        <div class="row">
                            <input type="submit" value="Register" class="medium button" />
                        </div>
                    </fieldset>

                    <section class="resendconfirmationemail">
                        @Html.ActionLink("Re-Send Confirmation Email", "ResendConfirmationEmail")
                    </section>

                    <section class="forgotpassword">
                        @Html.ActionLink("Forgot Password", "ForgotPassword")
                    </section>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/Areas/Account/RegCtrl.js")
}