@model BCWeb.Models.RegisterModel
@using BCWeb.Helpers
@using Recaptcha.Web.Mvc

@{
    ViewBag.Title = "Create a new account.";
}

<div style="width: 301px; margin-left: auto; margin-right: auto;">
    <img src="~/Content/logos/logo_color_301x100.png" alt="bidCHUCK logo" />
</div>


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "" }))
{
    <div class="row">
        <div class="large-8 columns large-centered">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns large-centered panel">
            <div class="row">
                <div class="large-12 columns">
                    <fieldset>
                        <legend>Company Info</legend>
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                @Html.LabelFor(m => m.CompanyName)
                                @Html.TextBoxFor(m => m.CompanyName)
                            </div>

                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                @Html.LabelFor(m => m.Address1)
                                @Html.TextBoxFor(m => m.Address1)
                            </div>
                            <div class="large-6 columns">
                                @Html.LabelFor(m => m.Address2)
                                @Html.TextBoxFor(m => m.Address2)
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                @Html.LabelFor(m => m.City)
                                @Html.TextBoxFor(m => m.City)
                            </div>
                            <div class="large-2 columns left">
                                @Html.LabelFor(m => m.StateId)
                                @Html.DropDownListFor(m => m.StateId, Model.States, "...", new { @class = "pretty" })
                            </div>
                            <div class="large-3 columns left">
                                @Html.LabelFor(m => m.PostalCode)
                                @Html.TextBoxFor(m => m.PostalCode)
                            </div>

                        </div>
                        <div class="row">

                            <div class="large-4 columns left">
                                @Html.LabelFor(m => m.Phone)
                                @Html.TextBoxFor(m => m.Phone)
                            </div>
                            <div class="large-4 columns">
                                @Html.LabelFor(m => m.BusinessType)
                                @Html.DropDownListFor(m => m.BusinessType, new { @class = "pretty" })
                            </div>
                            <div class="large-4 columns">
                                @Html.LabelFor(m => m.OperatingDistance)
                                <select class="pretty" name="OperatingDistance">
                                    <option value="25" @if (Model.OperatingDistance == 25)
                                               { @Html.Raw("selected");
                                               }>25 Miles</option>
                            <option value="50" @if (Model.OperatingDistance == 50)
                                               { @Html.Raw("selected");
                                               }>50 Miles</option>
                            <option value="100" @if (Model.OperatingDistance == 100)
                                                { @Html.Raw("selected");
                                                }>100 Miles</option>
                            <option value="150" @if (Model.OperatingDistance == 150)
                                                { @Html.Raw("selected");
                                                }>150 Miles</option>
                            <option value="200" @if (Model.OperatingDistance == 200)
                                                { @Html.Raw("selected");
                                                }>200 Miles</option>
                            <option value="300" @if (Model.OperatingDistance == 300)
                                                { @Html.Raw("selected");
                                                }>300 Miles</option>
                            <option value="400" @if (Model.OperatingDistance == 400)
                                                { @Html.Raw("selected");
                                                }>400 Miles</option>
                            <option value="500" @if (Model.OperatingDistance == 500)
                                                { @Html.Raw("selected");
                                                }>500 Miles</option>
                            <option value="9001" @if (Model.OperatingDistance == 0)
                                              { @Html.Raw("selected");
                                              }>USA</option>

                                </select>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="large-8 columns left">
                    <fieldset>
                        <legend>Personal Info</legend>
                        <div class="row">
                            <div class="large-6 columns left">
                                @Html.LabelFor(m => m.FirstName)
                                @Html.TextBoxFor(m => m.FirstName)
                            </div>
                            <div class="large-6 columns left">
                                @Html.LabelFor(m => m.LastName)
                                @Html.TextBoxFor(m => m.LastName)
                            </div>
                        </div>

                        <div class="row">
                            <div class="large-10 columns left">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email)
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns left">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password)
                            </div>
                            <div class="large-6 columns left">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="large-8 left">
                    <fieldset>
                        <legend>Human Check</legend>
                        @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="large-3 columns left">
                    <input type="submit" value="Register" class="medium button" />
                </div>
                <div class="large-6 columns left">
                    <section class="resendconfirmationemail">
                        @Html.ActionLink("Re-Send Confirmation Email", "ResendConfirmationEmail")
                    </section>

                    <section class="forgotpassword">
                        @Html.ActionLink("Forgot Password", "ForgotPassword")
                    </section>
                </div>
            </div>



        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}