@model BCWeb.Models.ResendConfirmationEmailModel
@{
    ViewBag.Title = "Resend Confirmation Email";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Resend Confirmation Email.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Please enter your email address.</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
        </ol>
        <input type="submit" value="Resend Confirmation Email" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}