@model BCWeb.Models.SignInModel

@{
    ViewBag.Title = "Sign in";
}




<div class="row">
    <div class="large-4 large-centered columns">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            <div class="row">
                <div class="large-12 large-centered columns">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                </div>
            </div>
        
            <div class="row">
                <div class="large-12 large-centered columns">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="row">
                <div class="large-12 large-centered columns">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row">
                <div class="large-12 large-centered columns">
                    <label for="RememberMe" >@Html.CheckBoxFor(m => m.RememberMe) Remember Me</label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 large-centered columns">
                    <input type="submit" value="Sign in" class="medium button" />
                </div>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="large-4 large-centered columns">
        @Html.ActionLink("Re-Send Confirmation Email", "ResendConfirmationEmail")
    </div>
</div>
<div class="row">
    <div class="large-4 large-centered columns">
        @Html.ActionLink("Forgot Password", "ForgotPassword")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}